.venv
.ipynb_checkpoints
**/.ipynb_checkpoints
**/*/.ipynb_checkpoints
**/webapp/__pycache__/
**/cli/__pycache__
**/core/__pycache__/
log_anomaly_engine.egg-info
slow.ipynb
**/webapp/detector/__pycache__/
webapp/**/*/__pycache__/
webapp/db.sqlite3
assets/data/*
assets/logs/*
assets/model_saves/*
assets/temp/*
!assets/temp/.gitkeep
!assets/model_saves/.gitkeep
!assets/data/.gitkeep
!assets/logs/.gitkeep
slow.ipynb
**/*/*.ipynb