.venv
.ipynb_checkpoints
**/.ipynb_checkpoints
**/*/.ipynb_checkpoints
**/webapp/__pycache__/
**/cli/__pycache__
**/core/__pycache__/
log_anomaly_engine.egg-info
*.ipynb
**/webapp/detector/__pycache__/
webapp/**/*/__pycache__/